.footer {
    margin: auto;
    border-top: solid 4px black;
    background-color: #25262C;
    padding: 40px 15%;
    font-size: 24px;
    color: #C2C2C6;
}

.sectors{
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
}

.other{
    text-align: center;
}