.header {
    background-color: #12154B;
    color: white;
    font-size: 36px;

    display: flex;
    justify-content: space-around;
    margin: auto;
    height: 120px;
    width: 100%;
    align-items: center;
    position: fixed;
    border-bottom: solid 4px white;
    z-index: 1;
}

.header_link {
    text-decoration: none;
    color: white;
}

.header_link:hover {
    color: #0BD1FD;
}

.links {
    min-width: 50%;
    display: flex;
    justify-content: space-between;
}

.searcher {
    width: 50px;
}