.login {
    background-color: #EBEFF3;
    color: #002F6C;
    display: flex;
    justify-content: space-around;
    height: 980px;
    position: relative;
}

.login_title {
    font-size: 64px;
}

.login_dis {
    font-size: 35px;
}

.log_dis {
    align-self: center;
}

.log_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ref_input {
    width: px;
    height: 100px;
    border: solid 1px;
    border-radius: 13px;
    margin: 27px 0;
    font-size: 30px;
    padding: 0 35px;
}

.ref_input::placeholder {
    font-size: 30px;
    color: #B1ACAC;
}

.under_links {
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    padding: 3px 0;
}

.submit_but{
    width: 700px;
    height: 100px;
    border: none;
    border-radius: 13px;
    margin: 27px 0;
    background-color: #002F6C;
    color: white;
    font-size: 30px;
}

.submit_but:hover{
    background-color: #0BD1FD;
    box-shadow: #002F6C 10px 10px;
}
.logo_img{
    position: absolute;
    top: 90px;
    left: 180px;
}