.items{
    margin: auto;
    width: 70%;
    display: flex;
    justify-content: space-between;
    font-size: 40px;
    padding-bottom: 150px;
}

.item_dis{
    font-size: 24px;
}

.item{
    max-width: 27%;
    text-align: center;
}

.shop_title{
    border-top: solid 3px white;
    font-size: 50px;
    padding: 15px 0;
    text-align: center;
}